@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'inter', Arial, Helvetica, sans-serif;
}

.header {
    max-width: 34vw;
    width: 34vw;
    height: 8vh;
    background-color: rgba(33, 36, 44, 0.8);
    border: solid rgba(255, 255, 255, 0.2) 2px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
    border-radius: 90px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    z-index: 100;
}

.header img {
    height: 1.5vw;
    width: 1.5vw;
    padding-left: 32px;
}

.header p {
    font-size: 20px;
    cursor: pointer;
}

.header .contact {
    padding-right: 32px;
}

.landingpage {
    height: 100vh;
    width: 100vw;
    background-color: #F3F3F5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landingpage .introducing {
    text-align: center;
    margin-top: 15vh;
}

.landingpage .logo {
    width: 200px;
    height: auto;
    margin-bottom: -20px;
}

.landingpage h1 {
    font-weight: 700;
    font-size: 40px;
}

.landingpage span {
    background: -webkit-linear-gradient(#FF774C, #FF7A00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.landingpage .image {
    margin-top: auto;
    height: 70vh;
}

.landingpage2 {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.landingpage2 h1 {
    font-size: 40px;
    font-weight: 600;
}

.landingpage2 span {
    font-family: 'caveat';
    background: -webkit-linear-gradient(#6530C1, #A215AD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 55px;
}

.landingpage2 p {
    color: rgba(0, 0, 0, 0.49);
    font-size: 20px;
    margin-top: -20px;
}

.landingpage2 img {
    width: 50vw;
    height: auto;
}

.landingpage3 {
    height: 100vh;
    width: 100vw;
    background-color: #F3F3F5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.landingpage3 h1 {
    font-size: 40px;
    font-weight: 600;
}

.landingpage3 p {
    color: rgba(0, 0, 0, 0.49);
    font-size: 20px;
    margin-top: -20px;
    max-width: 600px;
}

.landingpage3 img {
    width: 70vw;
    height: auto;
}

.download {
    height: 80vh;
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.download h1 {
    font-size: 40px;
    font-weight: 600;
}

.download p {
    color: rgba(0, 0, 0, 0.49);
    font-size: 20px;
}

.download button {
    background-color: #FF774C;
    border: none;
    border-radius: 90px;
    width: 200px;
    height: 62px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.download .subtext {
    color: #FF774C;
}

.download .startext {
    color: rgba(0, 0, 0, 0.3);
}

empty {
    margin: 80px;
}

/*panamint*/

.panamintbg {
    background: rgb(0,3,15);
    background: linear-gradient(0deg, rgba(0,3,15,1) 0%, rgba(26,26,26,1) 100%);
}

.panamint {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.panamint .logo {
    width: 200px;
    height: auto;
}

.panamint h1 {
    font-weight: 700;
    font-size: 40px;
    color: white;
}

.panamint p {
    color: rgba(255, 255, 255, 0.49);
    font-size: 20px;
    margin-top: -20px;
}

.panamint .image {
    height: 50vh;
    width: auto;
}

.panamint2 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.panamint2 h1 {
    font-weight: 700;
    font-size: 40px;
    color: white;
}

.panamint2 p {
    color: rgba(255, 255, 255, 0.49);
    font-size: 20px;
    margin-top: -20px;
}

.panamint2 .image {
    height: auto;
    width: 50vw;
}

.panamint3 {
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.panamint3 h1 {
    font-weight: 700;
    font-size: 40px;
    color: white;
}

.panamint3 h2 {
    font-weight: 700;
    font-size: 30px;
    color: white;
}

.panamint3 p {
    color: rgba(255, 255, 255, 0.49);
    font-size: 20px;
    margin-top: -20px;
}

.panamint3 .card {
    text-align: left;
    padding: 25px;
}

.panamint3 .card img {
    width: 25vw;
}

.panamint3 .row {
    display: flex;
}

.downloadpanamint {
    height: 120vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.downloadpanamint h1 {
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
}

.downloadpanamint p {
    color: rgba(255, 255, 255, 0.49);
    font-size: 20px;
}

.downloadpanamint button {
    background-color: #000000;
    border: solid rgba(255, 255, 255, 0.2) 2px;
    border-radius: 90px;
    width: 300px;
    height: 62px;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.requirements {
    width: 56vw;
    text-align: left;
}

.requirements p {
    color: white;
    font-size: 25px;
    font-weight: 500;
}

.footer {
    height: 80vh;
    background-color: #000000;
    position: relative;
}

.footer h1, .footer p {
    color: white;
    font-weight: 500;
    font-size: 30px;
    margin: 0;
    padding: 25px;
}

.footer h1 {
    padding: 50px;
}

.footer p {
    cursor: pointer;
}

.footer .container {
    display: flex;
    justify-content: space-around;
}

.footer img {
    width: 25vw;
    padding: 25px;
}

.footer .copyright {
    color: rgba(255, 255, 255, 0.49);
    font-size: 20px;
    position: absolute;
    bottom: 0px;
}
/*v1.1*/